# Local Terraform state
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
 
# Terraform crash logs
crash.log
crash.*.log

# Terraform temp files
.terraform/
.terraform.lock.hcl

# aws provider files
.terraform/providers/registry.terraform.io/hashicorp/aws/5.93.0/windows_386/terraform-provider-aws_v5.93.0_x5.exe